<h1> Stupid Coaching</h1>


<%= params[:question] %>
<p> <em> -You </em></p>

<br>
<strong><%= @answer  %></strong>
<p> <em> -Your coach </em></p>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
